<H1>Marvellous Infosystem</H1>
<h3 [style.color]="'red'">Marvellous Infosystem
    /// []square brkt use for binding purpose
</h3>
<h3 [style.color]="mycolor">Marvellous Infosystem
    /// []square brkt use for binding purpose
</h3>
<h3 [style.color]="'blue'">Marvellous Infosystem
    /// []square brkt use for binding purpose
</h3>
<h3 [style.color]="isset ? 'green' :'red'">Marvellous Infosystem
    /// []square brkt use for binding purpose
</h3>


<h2>Demonstration of class binding</h2>

<h2 class="Success">Demonstration of class binding</h2>
<h2 [class]="myclass">Demonstration of class binding</h2>
<h1>Event handling</h1>
<button (click)="myaction()">Submit</button>
<h1>{{data}}</h1>
<button (click)="myactionnew($event)">New Button</button>
